<%= javascript_include_tag 'medicos' %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Nome de Usuário<br />
  <%= f.text_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :nome %><br />
  <%= f.text_field :nome %></div>

  <div><%= f.label :dataNascimento %><br />
  <%= f.text_field :dataNascimento, :class => 'dateSelect' %></div>
	
  <div><%= f.label :rg %><br />
  <%= f.text_field :rg, :min => '0' %></div>
	
  <div><%= f.label :localizacaoGeo %><br />
  <%= f.text_field :localizacaoGeo %></div>
	
  <div><%= f.label :cpf %><br />
  <%= f.text_field :cpf, :min => '0' %></div>
	
  <div><%= f.label :crm %><br />
  <%= f.text_field :crm, :min => '0' %></div>
	
  <div><%= f.label :telefoneResidencial %><br />
  <%= f.text_field :telefoneResidencial, :min => '0' %></div>
	
  <div><%= f.label :celular %><br />
  <%= f.text_field :celular, :min => '0' %></div>
	
  <div>
  	Especialidade<br />
  	<%= f.collection_select :especialidade_id, Especialidade.all, :id, :nome  %>
	</div>
	
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
