<p id="notice"><%= notice %></p>

  <h1>Diagnóstico</h1>
<p>
  <b>Descrição:</b>
  <%= @diagnostico.descricao %>
</p>

<p>
  <b>Data:</b>
  <%= @diagnostico.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Médico:</b>
  <%= @diagnostico.medico_id %>
</p>

<p>
  <b>Prontuario:</b>
  <%= @diagnostico.prontuario.nome %>
</p>
