<p id="notice"><%= notice %></p>

  <h1>Receita</h1>
  
<p>
  <b>Data:</b>
  <%= @receitum.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Medicamento:</b>
  <%= @receitum.medicamento %>
</p>

<p>
  <b>Dosagem:</b>
  <%= @receitum.dosagem %>
</p>

<p>
  <b>Frequência:</b>
  <%= @receitum.frequencia %>
</p>

<p>
  <b>Duração:</b>
  <%= @receitum.duracao %>
</p>

<p>
  <b>Observação:</b>
  <%= @receitum.observacao %>
</p>

<p>
  <b>Médico:</b>
  <%= @receitum.medico.nome %>
</p>

<p>
  <b>Prontuário:</b>
  <%= @receitum.prontuario.nome %>
</p>


<%= link_to 'Voltar', @receitum.prontuario %>
