<h1>Gestão de Atendimento</h1>

<div class="search">
	<%= render :partial => 'search' %>
</div>

<table>
  <tr class="tabRow" style="width:100%">
    <th class="tabNome" style="width:20%">Nome</th>
    <th class="tabDataNasc" style="width:7%">Data Nascimento</th>
    <th class="tabLocal" style="width:5%">Localização Geográfica</th>
    <th class="tabCad" style="width:7%">Cadastro de Saúde</th>
    <th class="tabHab" style="width:5%">Hábito de Vida</th>
    <th class="tabTel" style="width:10%">Telefone Residencial</th>
    <th class="tabCel" style="width:10%">Telefone Celular</th>
    <th class="tabEmail" style="width:20%">E-mail</th>
    <th class="tabGen" style="width:9%">Gênero</th>
  </tr>

<% if @prontuarios.length > 0 %>

	<% @prontuarios.each do |prontuario| %>
	  	<tr>
		    <td><%= link_to prontuario.nome, prontuario %></td>
		    <td><%= prontuario.dataNascimento.strftime("%d/%m/%Y") %></td>
		    <td><%= prontuario.localizacaoGeo %></td>
		    <td><%= prontuario.cadastroSaude %></td>
		    <td><%= prontuario.habitoVida %></td>
		    <td><%= prontuario.telefoneResidencial %></td>
		    <td><%= prontuario.celular %></td>
		    <td><%= prontuario.email %></td>
		    <td><%= prontuario.genero.nome %></td>
		</tr>
	<% end %>
</table>
<% else %>
</table>
<br />
<center>Lista de resultados vazia. Por favor, faça uma nova busca.</center>
<% end %>

<%= will_paginate @prontuarios, :param_name => 'prontuarios_page' %>