<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @pedido.data.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Medico:</b>
  <%= @pedido.medico.nome %>
</p>

<p>
  <b>Prontuario:</b>
  <%= @pedido.prontuario.nome %>
</p>

<p>
  <b>Nome:</b>
  <%= @pedido.nome %>
</p>

<p>
  <b>Restricao:</b>
  <%= @pedido.restricao %>
</p>

<p>
  <b>Recomendacao:</b>
  <%= @pedido.recomendacao %>
</p>

<p>
  <b>Deveanalizar:</b>
  <%= @pedido.deveAnalizar %>
</p>


<%= link_to 'Voltar', @pedido.prontuario %>