<p id="notice"><%= notice %></p>

<div id="Prontuario">
<p>
  <h1>
  <%= @prontuario.nome %></h1>
</p>
  
<p>
  <b>Gênero:</b>
  <%= @prontuario.genero.nome %>
</p>

<p>
  <b>Data de Nascimento:</b>
  <%= @prontuario.dataNascimento.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Localização Geográfica:</b>
  <%= @prontuario.localizacaoGeo %>
</p>

<p>
  <b>Cadastro de Saúde:</b>
  <%= @prontuario.cadastroSaude %>
</p>

<p>
  <b>Hábitos de vida:</b>
  <%= @prontuario.habitoVida %>
</p>

<p>
  <b>Telefone Residencial:</b>
  <%= @prontuario.telefoneResidencial %>
</p>

<p>
  <b>Celular:</b>
  <%= @prontuario.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @prontuario.email %>
</p>
<br></br>


<h2>Exames</h2>
 <%= link_to 'Pedir Exame', new_pedido_path %>
 <br></br>
<table>
	<td style="width:30%"><b>Nome</b></td><td style="width:30%"><b>Data de Realização</b></td>
		<% @prontuario.exames.each do |exame| %>
		<tr>
			<td><%= link_to exame.nome, exame %></td>
			<td><%= exame.dataRealizacao.strftime("%d/%m/%Y") %></td>
		</tr>
		<% end %>
 </table>
<br></br>

<h2>Pedidos</h2>
<table>
	<td style="width:30%"><b>Nome</b></td><td style="width:30%"><b>Data do Pedido</b></td>
		<% @prontuario.pedidos.each do |pedido| %>
		<tr>
			<td><%= link_to pedido.nome, pedido %></td>
			<td><%= pedido.data.strftime("%d/%m/%Y") %></td>
		</tr>
		<% end %>
 </table>
<br></br>

<h2>Diagnosticos</h2>
 <%= link_to 'Escrever diagnóstico', new_diagnostico_path %>
 <br></br>
<table>
	<td style="width:30%"><b>Nome</b></td><td style="width:30%"><b>Data de Realização</b></td>
		<% @prontuario.diagnosticos.each do |diagnostico| %>
		<tr>
			<td><%= link_to diagnostico.descricao, diagnostico %></td>
			<td><%= diagnostico.data.strftime("%d/%m/%Y") %></td>
		</tr>
		<% end %>

</table>
<br></br>

<h2>Receitas</h2>
 <%= link_to 'Receitar Medicamento', new_receitum_path %>
 <br></br>
 <table>
	<td style="width:30%"><b>Nome</b></td><td style="width:30%"><b>Data de Realização</b></td>
		<% @prontuario.receita.each do |receitum| %>
		<tr>
			<td><%= link_to receitum.medicamento, receitum %></td>
			<td><%= receitum.data.strftime("%d/%m/%Y") %></td>
		</tr>
		<% end %>
 </table>
<br></br>

</div>

<br></br>

<!-- <%= link_to 'Edit', edit_prontuario_path(@prontuario) %> -->
<%= link_to 'Voltar', welcome_index_path %>
