<p id="notice"><%= notice %></p>

  <h1>Exame</h1>
<p>
  <b>Nome:</b>
  <%= @exame.nome %>
</p>

<p>
  <b>Cidadão:</b>
  <%= @exame.prontuario.nome %>
</p>

<p>
  <b>Resultado:</b>
  <%= @exame.resultado %>
</p>

<p>
  <b>Data de Realização:</b>
  <%= @exame.dataRealizacao.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Data em que ficou pronto:</b>
  <%= @exame.dataPronto.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Status:</b>
  <%= @exame.status %>
</p>


<!-- %= link_to 'Edit', edit_exame_path(@exame) %> -->
<%= link_to 'Voltar', @exame.prontuario %>
