<!DOCTYPE html>



<head>

	<title>Gestão de Atendimento de Tatulândia</title>

	<script type="text/javascript"></script>

	<%= stylesheet_link_tag "teste", 'jquery-ui-light' %>

	<%= javascript_include_tag 'application', 'jquery-ui' %>
	<%= javascript_include_tag 'myapp' %>
	

</head>

<body>



<div id="container"> 

	<div>

		<div id="pageHeader">

			<h1><span>Tatu</span></h1>
		</div>

				<div id="footer">

					<%= link_to "Sign Up", new_medico_registration_path %>
					<%= link_to "Login", new_medico_session_path %>
					<%= link_to "Sair", destroy_medico_session_path, :method => 'delete' %>

		</div>

		<!-- Aqui vai colocar as outras views-->
		<div id="resultado">

		<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

		<%= yield %>
		</div>
		
	</div>

	<div id="linkList">

      <div id="linkList2">

      <div id="lselect"><h3><center>Buscas</h3>


	      <ul>
	        <li><%= link_to "Busca por Cidadao", welcome_index_path %></li>

					<li><%= link_to "Busca por Exame", welcome_exames_path %></li>

	        <li><%= link_to "Exames prontos", welcome_examesProntos_path %></li>
				</ul>

	    </div>
			


	    </div>
	<div id="coluna">
	</div>
	</div>



</div>



<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->

<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>

<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>


</body>

</html>


