<!DOCTYPE html>



<head>

	<title>Gestão de Atendimento de Tatulândia</title>

	<script type="text/javascript"></script>

	<%= stylesheet_link_tag "teste" %>
	

</head>

<body>



<div id="container"> 

	<div>

		<div id="pageHeader">

			<h1><span>Tatu</span></h1>
		</div>

				<div id="footer">

			<%= link_to "Página Inicial", root_path %> &nbsp; 

			<a href="login.html" title="">Sair</a>
		</div>

		<!-- Aqui vai colocar as outras views-->
		<div id="resultado">
		<%= yield %>
		</div>
		
	</div>

	<div id="linkList">

      <div id="linkList2">

      <div id="lselect">


	      <ul>
	        <li><%= link_to "Busca por Cidadao", welcome_index_path %></li>

					<li><%= link_to "Busca por Exame", welcome_exames_path %></li>

	        <li><%= link_to "Novos Pacientes", prontuarios_path %></li>

	        <li><%= link_to "Meus Pacientes", prontuarios_path %></li>

	        <li><%= link_to "Exames prontos", exames_path %></li>
				</ul>

	    </div>
			


	    </div>
	<div id="coluna">
	</div>
	</div>



</div>



<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->

<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>

<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>


</body>

</html>


